$blue: #002684;
$lightblue: #bae6ed;
$red: #f04a4a;
$lightred: #fee4e0;
$green: #0f5153;
$lightgreen: #bfeedb;

$theme-colors: (
  "primary": $blue,
  "secondary": $lightblue,
  "danger": $red,
);

.text-green {
  color: $green !important;
  a {
    color: $green !important;
  }
}

$spacer: 2.5rem;

$grid-columns: 12;
$grid-gutter-width: 20px;

$light_bg: #f6f9fc;
$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/bootstrap";

/* Boostrap grid */
// div[class="row"] {
//   outline: 1px dotted rgba(0, 0, 0, 0.25);
// }

// div[class^="col-"] {
//   background-color: rgba(255, 0, 0, 0.2);
//   outline: 1px dotted rgba(0, 0, 0, 0.5);
// }

body {
  font-family: "Red Hat Text", sans-serif;
  color: $blue;
}
.container,
.navbar .container {
  padding: 0 20px;
}
.dtpr-logo {
  position: relative;
  display: inline-block;
}

#CommunityInviter {
  text-align: left !important;
  img,
  div {
    display: none;
  }
  input {
    font-family: "Red Hat Text", sans-serif !important;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 20px !important;
    line-height: 36px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 260px !important;
  }
  button {
    font-family: "Red Hat Text", sans-serif !important;
    margin: 0 0 0 10px !important;
    line-height: 24px;
    padding: 16px 20px !important;
    background-color: #002684 !important;
    border: 0 none !important;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block !important;
    width: auto !important;
  }
}

.menu-overlay-scrim {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  // transition: linear opacity 0.3s;
  // opacity: 0;
}
.menu-overlay-container {
  z-index: 1500;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.menu-overlay {
  z-index: 1500;
  position: fixed;
  top: 0;
  background: $lightblue;
  width: 100vw;
  box-shadow: 0 0 32px rgba(0, 0, 0, 1);
  .menu-overlay-logo {
    font-size: 20px;
    font-weight: 500;
    img {
      margin-right: 10px;
    }
  }
  .btn-primary {
    margin-right: 10px;
    margin-top: 1px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 16px;
  }
  .nav-open-menu .icon-36 {
    margin-top: -2px;
    margin-right: 8px;
    margin-left: 2px;
    cursor: pointer;
  }
  .menu {
    padding-top: 1px;
    .circle-icon {
      margin-right: 10px;
    }
  }
  .top {
    padding-top: 15px;
  }

  .btn-card {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid transparentize($color: $blue, $amount: 0.8);
    color: $blue;
    display: block;
    width: 100%;
    height: 104px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 0;
    font-size: 20px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      font-weight: 500;
    }
    &:hover {
      background-color: $blue;
      color: $lightblue;
    }
    .smaller {
      font-weight: 500;
      font-size: 14px;
    }
    .bigger {
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;
    }
  }
}

#section-about,
#section-vision,
#section-agent,
#section-tools,
#section-license,
#section-taxonomy,
#section-taxonomy-purpose,
#section-taxonomy-technology,
#section-taxonomy-data_type,
#section-taxonomy-processing,
#section-taxonomy-access,
#section-taxonomy-storage,
#section-footer {
  background: #fff;
  position: relative;
  z-index: 2;
}

.btn {
  background-color: #002684;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 32px;
  padding: 10px 20px;
}
.btn-green {
  border: solid $green 1px;
  color: $green;
  background: transparent;
}

.taxonomy-step {
  .taxonomy-container {
    height: 350px;
  }
  .taxonomy-seemore {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 300px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
    .btn-seemore {
      display: inline-block;
      padding: 8px 16px;
      font-size: 12px;
      font-weight: bold;
      border: solid transparentize($color: $green, $amount: 0.8) 2px;
      background-color: #fff;
      color: $green;
      border-radius: 40px;
      margin-top: 200px;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $green;
      }
    }
  }
}

.table-taxonomy {
  @extend .mt-4;
  td,
  th {
    color: $green;
    border-top: 1px solid transparentize($color: $green, $amount: 0.8);
    vertical-align: middle;
    overflow: hidden;
  }
  @include media-breakpoint-down(sm) {
    th:last-child,
    td:last-child {
      display: none;
    }
  }
  thead th {
    border-bottom: 0 none;
  }
  a {
    color: $green;
    border-bottom: 1px dotted;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}

.nav-container {
  top: 0;
  padding: 12px 0;
  z-index: 1000;
  background: #fff;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar {
  padding: 0;
}
.navbar-brand {
  font-weight: 500;
  font-size: 18px;
}
.nav-item {
  font-weight: 500;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  @include media-breakpoint-down(sm) {
    font-size: 36px;
  }
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.75rem;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  font-size: 16px;
  font-weight: 500;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.bg-light {
  background-color: #fff !important;
}

.prehead {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #586ada;
  text-transform: uppercase;
}

#tapestry {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: center left;
  display: flex;
  .banner {
    white-space: nowrap;
    transition: transform 0.5s;
  }
}
#chat-client {
  position: absolute;
  z-index: 1100;
}
#sticky-prototype {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 1;
  .prototype-content {
    background-color: #fff;
    border: 12px $blue solid;
    border-radius: 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
    width: 399px;
    height: 836px;
    overflow: hidden;
    transform: scaleX(0.25) scaleY(0.25);
    transform-origin: left bottom;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-in;
    &:hover {
      cursor: pointer;
      // transform: scaleX(1) scaleY(1);
    }
  }

  .prototype-conversation {
    width: 375px;
    height: 812px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    padding-top: 812px;
    position: absolute;
    .prototype-card {
      padding-bottom: 16px;
    }
  }
  .prototype-modal {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 375px;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
    overflow: auto;
  }
  // .prototype-modal img {
  //   width: 375px;
  //   height: 1152px;
  // }
}

.sticky-image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: table;
  z-index: -1;
}
.sticky-section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 1000;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  // border-top: 1px solid rgba(0, 0, 0, 0.2);
  &.green {
    color: $green;
    .circle-icon {
      background-color: $green;
    }
  }
}
.btn-float {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.7);
  }
}
.btn-float-small {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
}
.scenarios-toc {
  .scenario-card {
    @extend .btn-float;
  }
}

.card {
  background-color: $blue;
  color: $lightblue;
  padding: 32px 24px 32px 24px;
  border-radius: 24px;
  border: 0 none;
  overflow: hidden;
  background-repeat: no-repeat;

  // @extend .d-flex;
  h4 {
    margin-top: -4px;
  }
  i {
  }
  .badge {
    width: 32px;
    height: 32px;
    background-color: $blue;
    color: $lightblue;
    border-radius: 32px;
    line-height: 26px;
    margin-right: 12px;
    font-size: 16px;
    text-align: center;
  }
  .btn {
    background-color: #fff;
    color: $blue;
    font-weight: 700;
    margin: 0 8px 0 0;
    font-size: 24px;
    padding: 8px 32px;
    @extend .mt-auto;
    @extend .align-self-end;
  }
  .btn-circle {
    @extend .float-right;
    @extend .btn-float-small;
    background-color: $lightblue;
    color: $blue;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    padding: 0;
    margin-top: -8px;
    text-align: center;
    cursor: pointer;
    i {
      margin: auto;
      line-height: 48px;
    }
  }
  &.scenario-card {
    background-size: 40%;
    background-position: bottom right;
  }
  &.big-card {
    background-size: 35%;
    height: 480px;
    h3 {
      padding-top: 2rem;
    }
    .badge {
      width: 48px;
      height: 48px;
      background-color: $blue;
      color: $lightblue;
      border-radius: 32px;
      line-height: 36px;
      margin-right: 12px;
      font-size: 24px;
      text-align: center;
      padding-bottom: 24px;
    }
    .headers {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
  }
  &.card-image {
    background-size: cover;
  }
  &.card-lightblue {
    background-color: $lightblue;
    color: $blue;
  }
  &.card-red {
    background-color: $red;
    color: $lightred;
  }
  &.card-lightred {
    background-color: $lightred;
    color: $red;
    .btn-circle {
      background-color: $red;
      color: $lightred;
    }
  }
  &.card-green {
    background-color: $green;
    color: $lightgreen;
  }
  &.card-lightgreen {
    background-color: $lightgreen;
    color: $green;
    .btn-circle {
      background-color: $green;
      color: $lightgreen;
    }
  }
}
.card .thumbnail {
  background: #ccc;
  height: 232px;
  position: relative;
  margin: 0 -32px -32px -32px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.step-banner {
  background-color: $lightblue;
  color: $blue;
  position: relative;
  z-index: 1;
}
.step-holder {
  padding-bottom: 200px;
}
.step-image {
  img {
    // position: absolute;
    // left: 0;
  }
}
.step-footer {
  background: #fff;
  position: relative;
  z-index: 1;
}

.link-list {
  a {
    margin-top: 0.5rem;
    font-size: 20px;
    color: $primary;
    margin-bottom: 2.5px;
    border-bottom: 1.5px solid;
    display: inline-block;
    &:hover {
      text-decoration: none;
      margin-bottom: 0px;
      border-bottom: 4px solid;
    }
  }
}

.section-image {
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.hex-icon {
  width: 36px;
  height: 36px;
  position: relative;
}
.hex-icon i {
  position: absolute;
  left: 6px;
  top: 6px;
  color: #000;
}
.circle-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: $blue;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
}
.number-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: $blue;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
}

.sticky-nav {
  .circle-icon,
  .section-title {
    cursor: pointer;
  }
  .menu {
    text-align: right;
    .circle-icon {
      margin-left: 10px;
    }
  }
}

.card {
  display: block;
  width: 100%;
}

/*
       * Dummy devices (replace them with your own or something else entirely!)
       */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
       * Extra utilities
       */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.prototype-phone {
  width: 100%;
}
.prototype-container {
  overflow: hidden;
  // display: none;
  // height: 757px;
  border-radius: 36px;
  position: absolute;
  left: 36px;
  right: 36px;
  top: 22px;
  bottom: 22px;
  // border: 1px solid red;
}
.prototype-figma-border {
  border-radius: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid black;
  z-index: 500;
  pointer-events: none;
}
.prototype iframe {
  background: transparent;
  border: 0 none;
  width: 100%;
  height: 100%;

  // width: 478px;
  // height: 1006px;
}
.prototype-loader {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // display: none;
}
.prototype-loader .btn {
  margin-top: 240px;
}
.ai-option {
  background: transparent;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  margin-bottom: 10px;
  // transition: ease-in-out height 0.15s;
  .icon-checked {
    display: none;
  }
  &.selected {
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(131, 137, 174, 0.3);
    .icon-checked {
      display: inline-block;
    }
    .icon-unchecked {
      display: none;
    }
    &:hover {
      background: #fff;
    }
  }
  &:hover {
    background: transparentize($color: $lightblue, $amount: 0.8);
  }
  h3 {
    padding: 24px 0 0 0;
    margin: 0;
  }
  p {
    padding: 4px 0 16px 0;
    margin: 0;
  }
  .radio {
    height: 96px;
    line-height: 96px;
    width: 65px;
    margin: 0 4px 0 20px;
  }
  .avatar {
    height: 96px;
    line-height: 96px;
    width: 65px;
    margin: 0 10px 0 0;
  }
  .title {
    padding: 24px 0 0 0;
  }
}
.ai-options {
  background: transparent;
  .list-group-item {
    padding: 0;
    background: transparent;
    border: 0 none;
  }
}
