<div
  style="text-align: center; width: 100%; height: 100vh; position: relative;"
  class="d-flex align-items-center"
>
<!-- background-image: url(<%= frame %>); -->
  <div class="container align-middle step-image">
    <div class="row">
      <% if(contentLeft) { %>
      <div class="col-4 d-none d-md-block"></div>
      <% }%>
      <div class="col-12 col-md-8 step-focus-image">
        <!-- <img src="<%= image %>" width="100%" /> -->
      </div>
    </div>
  </div>
</div>
