<div class="menu-overlay-container">
  <div class="menu-overlay-scrim"></div>
  <div class="menu-overlay">
    <div class="container">
      <div class="top row">
        <div class="col">
          <a class="menu-overlay-logo" href="#">
            <img src="images/DTPR_Logo_Blue.svg" />
          </a>
        </div>
        <button class="btn btn-primary float-right">Get Involved</button>
        <div class="menu">
          <span class="nav-open-menu"><%= require("ejs-loader!./icon.ejs")({icon:"icon-36-close"}) %></span>
        </div>
      </div>
      <div class="menu-overlay-toc row py-3">
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-about">
            About
          </button>
        </div>
        <div class="col-4 col-md-2" data-link="section-tools">
          <button class="btn btn-card">
            Tools
          </button>
        </div>
        <div class="col-4 col-md-2" data-link="section-taxonomy">
          <button class="btn btn-card">
            Taxonomy
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-vision">
            Vision
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-agent">
            <div class="smaller">Your</div>
            <div class="bigger">Ai</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-1">
            <div class="smaller">Scenario</div>
            <div class="bigger">1</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-2">
            <div class="smaller">Scenario</div>
            <div class="bigger">2</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-3">
            <div class="smaller">Scenario</div>
            <div class="bigger">3</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-4">
            <div class="smaller">Scenario</div>
            <div class="bigger">4</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-5">
            <div class="smaller">Scenario</div>
            <div class="bigger">5</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-6">
            <div class="smaller">Scenario</div>
            <div class="bigger">6</div>
          </button>
        </div>
        <div class="col-4 col-md-2">
          <button class="btn btn-card" data-link="section-scenario-7">
            <div class="smaller">Scenario</div>
            <div class="bigger">7</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>