<div class="row pt-4">
  <div class="col col-md-9">
    <h3>Summary</h3>
    <h2><%= description %></h2>
  </div>
</div>
<!-- <div class="row pb-4 pt-3">
  <% for (var i =0; i <features.length; i++ ) { %>
    <div class="col-6 col-md-3">
      <%= require("ejs-loader!./icon.ejs")({icon:features[i].icon}) %>
      <h5 class="mt-2"><%= features[i].title %></h5>
      <p><%= features[i].description %></p>
    </div>
  <% } %>
</div> -->

